body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.card-row {
    display: flex;
    justify-content: center;
}
.card {
    height: 28vh;
    max-width: 22vw;
    margin: 5px;
}
.no-show {
    display: none;
}
#button-for-modal {
    display: none;
}
#new-game-button {
    margin-top: 10px;
    margin-left: 10px;
}
#wrong-guesses {
    color: red;
    font-size: 24px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}